<div class="container container-content">
  <div class="row">
    <div class="col-xs-12">
      <h1>Новая Лента</h1>

      <%= render 'form', feed: @feed %>

      <div class="form-footer-links">
        <%= link_to 'Назад', admin_feeds_path %>
      </div>
    </div>
  </div>
</div>
